{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-essential",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "overrides": [],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "vue/no-multiple-template-root": "off",
    "vue/multi-word-component-names": "off",
    "@typescript-eslint/no-var-requires": "off",
    // Prettier
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "maxLength": 500
      }
    ]
  }
}
